[Unit]
Description=color-scheme-watcher.sh daemon
Documentation=https://github.com/alexbradd/color-scheme-watcher

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/color-scheme-watcher.sh --verbose

[Install]
WantedBy=graphical-session.target
